<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Musculoskeletal System</key>
	<array>
		<dict>
			<key>Urgent</key>
			<true/>
			<key>Question</key>
			<string>One Sided Weakness</string>
			<key>Image</key>
			<string>onesideweakness.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Urgent</key>
			<true/>
			<key>Question</key>
			<string>Muscle Strength Decline?</string>
			<key>Image</key>
			<string>musclestrength.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Change In Balance?</string>
			<key>Image</key>
			<string>balance.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Increased Rigity?</string>
			<key>Image</key>
			<string>rigid.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Increased Tremors</string>
			<key>Image</key>
			<string>tremor.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
	</array>
	<key>Function</key>
	<array>
		<dict>
			<key>Question</key>
			<string>Tired?</string>
			<key>Image</key>
			<string>tired.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Faint?</string>
			<key>Image</key>
			<string>faint.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Sad?</string>
			<key>Image</key>
			<string>sad.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Refusing care?</string>
			<key>Image</key>
			<string>refusingcare.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
	</array>
	<key>Neurological System</key>
	<array>
		<dict>
			<key>Info</key>
			<string>Sudden numbness of face, arm, leg – only 1 side</string>
			<key>Urgent</key>
			<true/>
			<key>Question</key>
			<string>Sudden Numbness?</string>
			<key>Image</key>
			<string>numbness.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Info</key>
			<string>• Not talking as per usual (talking more or less, slurring)
• Sudden change in speech</string>
			<key>Urgent</key>
			<true/>
			<key>Question</key>
			<string>Speech Concerns?</string>
			<key>Image</key>
			<string>mouth.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Tired?</string>
			<key>Image</key>
			<string>tired.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Faint?</string>
			<key>Image</key>
			<string>faint.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Sad?</string>
			<key>Image</key>
			<string>sad.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Refusing care?</string>
			<key>Image</key>
			<string>refusingcare.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
	</array>
	<key>Sensory System</key>
	<array>
		<dict>
			<key>Question</key>
			<string>Tired?</string>
			<key>Image</key>
			<string>tired.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Faint?</string>
			<key>Image</key>
			<string>faint.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Sad?</string>
			<key>Image</key>
			<string>sad.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Refusing care?</string>
			<key>Image</key>
			<string>refusingcare.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
	</array>
	<key>Respiratory System</key>
	<array>
		<dict>
			<key>Question</key>
			<string>Tired?</string>
			<key>Image</key>
			<string>tired.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Faint?</string>
			<key>Image</key>
			<string>faint.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Sad?</string>
			<key>Image</key>
			<string>sad.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Refusing care?</string>
			<key>Image</key>
			<string>refusingcare.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
	</array>
	<key>Cardiovascular System</key>
	<array>
		<dict>
			<key>Question</key>
			<string>Tired?</string>
			<key>Image</key>
			<string>tired.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Faint?</string>
			<key>Image</key>
			<string>faint.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Sad?</string>
			<key>Image</key>
			<string>sad.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Refusing care?</string>
			<key>Image</key>
			<string>refusingcare.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
	</array>
	<key>Integumentary System</key>
	<array>
		<dict>
			<key>Question</key>
			<string>Tired?</string>
			<key>Image</key>
			<string>tired.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Faint?</string>
			<key>Image</key>
			<string>faint.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Sad?</string>
			<key>Image</key>
			<string>sad.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Refusing care?</string>
			<key>Image</key>
			<string>refusingcare.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
	</array>
	<key>Gastrointestinal System</key>
	<array>
		<dict>
			<key>Question</key>
			<string>Tired?</string>
			<key>Image</key>
			<string>tired.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Faint?</string>
			<key>Image</key>
			<string>faint.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Sad?</string>
			<key>Image</key>
			<string>sad.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Refusing care?</string>
			<key>Image</key>
			<string>refusingcare.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
	</array>
	<key>Genitourinary System</key>
	<array>
		<dict>
			<key>Question</key>
			<string>Tired?</string>
			<key>Image</key>
			<string>tired.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Faint?</string>
			<key>Image</key>
			<string>faint.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Sad?</string>
			<key>Image</key>
			<string>sad.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Refusing care?</string>
			<key>Image</key>
			<string>refusingcare.png</string>
			<key>Answer</key>
			<string>no</string>
		</dict>
	</array>
</dict>
</plist>
